{% extends 'MajesTeelBundle::layout.html.twig' %}
{% block title %}{{parent()}} New symfony2 framework{% endblock %}

{% block meta_type %}{{parent()}}{% endblock %}
{% block meta_title %}{{parent()}}{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_image %}{% endblock %}


{% block content %}

{{parent()}}

<div class="lightbox-container">
	<div class="lightbox-content">
		<div id="myModal" class="reveal-modal">
		   
		</div>
	</div>
</div>

<div class="bullets">
	
</div>

<a href="http://www.alcatel-home.com/fr" target="_blank" id="alcatel-logo">{% trans %}Alcatel & Business phones{% endtrans %}</a>
<div class="languages">
	<span class="current" data-lang="{{ lang }}"></span>
	<ul class="menu-lang">
		{% if (lang == 'en')  %}
		    <li class="hide">
		{% else %}
		    <li>
		{% endif %}
			<a href="/en" data-lang="en">English</a>
		</li>
		{% if (lang == 'es')  %}
		    <li class="hide">
		{% else %}
		    <li>
		{% endif %}
			<a href="/es" data-lang="es">Spanish</a>
		</li>
		{% if (lang == 'fr')  %}
		    <li class="hide">
		{% else %}
		    <li>
		{% endif %}
			<a href="/fr" data-lang="fr">Français</a>
		</li>
	</ul>
</div>
<div id="content-page" class="container">

      <div class="starter-template">

		<section id="systeme-de-surveillance-connecte" class="resize section section0" data-number="0">
			<div class="wrapper">
				

				<img src="{{asset('bundles/majesteel/images/section0/logo.png')}}" alt="Log Alcatel Phone Alert">
				
				{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.home_paragraph })) }}

				
				
				<div class="push">
					<a class="video modal" data-reveal-id="myModal" href="#"><span>{% trans %}voir la vidéo{% endtrans %}</span></a>
					<div class="content hidden">
							<div class="download">
									{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.home_video })) }}

									<a class="close-reveal-modal">&#215;</a>	
								</div>
							</div>
					</div>
				<mark>
					<span>{% trans %}Restez en contact avec votre maison où que vous soyez{% endtrans %}</span>
				</mark>
				
				

			</div>
			<div class="footer"><a href="#nouveau-concept" class="next animated"><span class="hide-tablet">{% trans %}Commencer la visite{% endtrans %}</span></a></div>
				
			
		</section>
		
		{{ render_esi(path('majes_cms_2_'~lang)) }}
		
		{{ render_esi(path('majes_cms_3_'~lang)) }}

		{{ render_esi(path('majes_cms_4_'~lang)) }}

		{{ render_esi(path('majes_cms_5_'~lang)) }}

		{{ render_esi(path('majes_cms_6_'~lang)) }}
		
		
		
        {#{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.home_paragraph })) }#}
        
      </div>

</div><!-- /.container -->

<a href="#" class="cloud"></a>
<a href="#" class="facebook"></a>
<a href="#" class="google"></a>


{% endblock %}

