{% extends 'MajesTeelBundle::layout.html.twig' %}
{% block title %}{{parent()}} New symfony2 framework{% endblock %}

{% block meta_type %}{{parent()}}{% endblock %}
{% block meta_title %}{{parent()}}{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_image %}{% endblock %}


{% block content %}

{{parent()}}

<div class="lightbox-container">
	<div class="lightbox-content">
		<div id="myModal" class="reveal-modal">
		   
		</div>
	</div>
</div>

<div class="bullets">
	
</div>

<a href="#" id="alcatel-logo">Alcatel & Business phones</a>

<div id="content-page" class="container">

      <div class="starter-template">

		<section id="section0" class="resize">
			<div class="wrapper">
					
				<img src="{{asset('bundles/majesteel/images/section0/logo.png')}}" alt="Log Alcatel Phone Alert">
				<h1>Système de surveillance connecté</h1>
				<ul>
					<li>Sans abonnement</li>
					<li>Simple à installer</li>
					<li>Evolutif</li>
				</ul>
				
				<div class="push">
					<a class="video modal" data-reveal-id="myModal" href="#"><span>voir la vidéo</span></a>
					<div class="content hidden">
							<div class="download">
									<h2>Phone Alert d'Alcatel, un système de surveillance connecté</h2>
									<div>
										<iframe width="853" height="480" src="//www.youtube.com/embed/2krsUWbdLis?list=PL-WmKHI7xjCaofThR_KKszaJdpHfUYsHL" frameborder="0" allowfullscreen></iframe>
									</div>
									 <a class="close-reveal-modal">&#215;</a>	
								</div>
							</div>
					</div>
				<mark>
					<span>Restez en contact avec votre maison ou que vous soyez:</span>
				</mark>
				
				

			</div>
			<div class="footer"><a href="#nouveau-concept" class="next">Commencer la visite</a></div>
				
			
		</section>
		<section class="section resize" id="section1">
			<div class="wrapper">
				<h1>Un nouveau concept</h1>
				<div class="circle circle-1" id="circle-1" data-parallaxify-range-x="15" data-parallaxify-range-y="15">
					<span class="container">
						<h2>Un système <br/><strong>simple</strong> & <strong>évolutif</strong></h2>
						<p>Votre ligne téléphonique habituelle <strong>avec ou sans box ADSL</strong></p>
						<p>Une Alcatel Bos sans fil</p>
						<p>Un large choix de détecteurs<br/>Phone Alert en fonction<br/>de vos besoins</p>
					</span>
				</div>

				<div class="circle  circle-2">
					<span class="container">
						<h2>qui détecte</h2>
						<p>Une intrusion</p>
						<p>Des mouvements</p>
						<p>De la fumée</p>
						<p>Du monoxyde de carbone</p>
						<p>Une inondation</p>
						<p>Des écarts de températures</p>
					</span>
				</div>

				<div class="circle  circle-3">
					<span class="container">
						<h2>et vous <strong>alerte<br/>en temps réel </strong>par</h2>
						<p>Un appel téléphonique</p>
						<p>Des mails</p>
						<p>Des notifications sur votre smartphone/tablette</p>
					</span>
					<div class="phone"></div>
					
				</div>

			</div>
			<div class="footer">
				<a href="#" class="continue">continuer la visite</a>
			</div>
			<div class="upfade"></div>
		
		</section>
		<section class="section resize" id="section2">
			<div class="wrapper">
				<h1>Comment ça marche</h1>
				<div class="center">

					<div class="containing">
						


						<span class="open">
							<span class="contain">
								<span class="back">
									
								</span>
								<span class="front">
									
								</span>
								<span class="circle-small">
									
								</span>
								<span class="circle-big">
									<h2>Détecteur d'ouverture</h2>
									<ul>
										<li>Détecte une ouverture de porte ou de fenêtre et transmet une alarme</li>
									</ul>
								</span>
							</span>
						</span>

						<span class="move">
							<span class="contain">
								<span class="back">
									
								</span>
								<span class="front">
									
								</span>
								<span class="circle-small">
									
								</span>
								<span class="circle-big">
									<h2>Détecteur de mouvement</h2>
									<ul>
										<li>Détecte un mouvement et transmet une alarme</li>
										
									</ul>
								</span>
							</span>
						</span>

						<span class="smoke">
							<span class="contain">
								<span class="back">
									
								</span>
								<span class="front">
									
								</span>
								<span class="circle-small">
									
								</span>
								<span class="circle-big">
									<h2>Détecteur de fumée</h2>
									<ul>
										<li>Détecte la fumée, déclenche une sirène puissante et transmet une alarme</li>
									</ul>
								</span>
							</span>
						</span>

						<span class="box">
							<span class="contain">
								<span class="back">
									
								</span>
								<span class="front">
									
								</span>
								<span class="circle-small">
									
								</span>
								<span class="circle-big">
									<h2>Alcatel Box</h2>
									<ul>
										<li>Reçoit les alarmes</li>
										<li>Permet d'écouter à distance et de parler avec votre domicile</li>
									</ul>
								</span>
							</span>
						</span>


						<span class="phone">
							<span class="contain">
								<span class="back">
									
								</span>
								<span class="front">
									
								</span>
								<span class="circle-small">
									
								</span>
								<span class="circle-big">
									<h2>Alcatel F370</h2>
									<ul>
										<li>Transmet l'alerte aux terminaux de votre choix via le serveur Phone Alert</li>
									</ul>
								</span>
								<span class="images">
									
									<span class="image show" style="background-image:url({{asset('bundles/majesteel/images/section2/anim1.png')}})">
										<span class="tagline">Vous êtes <strong>alerté</strong> par</span>
										<span class="message appel">Un appel téléphonique</span>
									</span>
									<span class="image" style="background-image:url({{asset('bundles/majesteel/images/section2/anim2.png')}})">
										<span class="tagline">Vous êtes <strong>alerté</strong> par</span>
										<span class="message mail">Un mail</span>
									</span>
									<span class="image" style="background-image:url({{asset('bundles/majesteel/images/section2/anim3.png')}})">
										<span class="tagline">Vous êtes <strong>alerté</strong> par</span>
										<span class="message notification">Une notification sur smartphone</span>
									</span>
									<span class="image" style="background-image:url({{asset('bundles/majesteel/images/section2/anim4.png')}})">
										<span class="tagline audio"><strong>A noter</strong></span>
										<span class="message audio">Enregistrement audio de 10s joint aux mails et notifications pour entendre  ce qu'il se passe chez vous</span>
									</span>

								</span>
							</span>
						</span>

					</div>

				</div>
				
			


			</div>
			<div class="footer">
				<a href="#" class="continue">continuer la visite</a>
			</div>
			<div class="upfade"></div>
		{# 	<div class="downfade"></div> #}
		</section>
		<section class="section resize" id="section3">
			<div class="wrapper">
				<h1>Nos offres - <span>choississez votre pack en fonction de votre habitation</span>
					<span class="moreinfo">
						<span class="moreinfo-container">
							<strong>N'attendez pas la loi pour vous protéger !</strong>
							<p>Obligation légale d'installation de détecteur de fumée dans tous les lieux d'habitation</p>
							<p><strong>avant le 8 mars 2015</strong></p>
						</span>
					</span>
				</h1>
				
				

				<div class="slide-container">

					<ul class="slides">
					<li class="part"> 
						    
						    {# <img src="http://flexslider.woothemes.com/images/kitchen_adventurer_caramel.jpg" /> #}
						    <div class="container habitation">
						    	<span class="offer-custom animated to-pro">
							    	<span class="containme">
							    		<span class="title pro">Personnalisez</span>
							    		<span class="push">votre offre</span>
							    	</span>
							    </span>
							    <span class="offer animated to-pro">
							    	<span class="containme">
							    		<span class="title pro">PACK<br/>entreprise</span>
							    		<span class="push">Voir notre offre</span>
							    		<span class="button"></span>
							    	</span>
							    </span>
						        <div class="column">
						            <div class="cell title middle"><span>PACK<br/>Habitation</span></div>
						            <div class="cell centered top">Appartement<br/>1 à 3 pièces</div>
						            <div class="cell centered top right">Appartement<br/>4 pièces et +</div>
						        </div>

						        <div class="column">
						            <div class="cell middle">Téléphone Alcatel F370</div>
						            <div class="cell centered"><img src="{{asset('bundles/majesteel/images/section3/phone.png')}}" alt=""  height="59"></div>
						            <div class="cell centered no-border"><img src="{{asset('bundles/majesteel/images/section3/phone.png')}}" alt=""  height="59"></div>
						            
						        </div>
						        <div class="column">
						            <div class="cell middle">Alcatel Box</div>
						            <div class="cell centered"><img src="{{asset('bundles/majesteel/images/section3/box.png')}}" alt=""  height="59"></div>
						            <div class="cell no-border centered"><img src="{{asset('bundles/majesteel/images/section3/box.png')}}" alt=""  height="59"></div>
						        </div>
						        <div class="column">
						            <div class="cell middle">Détecteur de mouvement<br/><span>Compatible animaux -25kg</span></div>
						            <div class="cell centered"><img src="{{asset('bundles/majesteel/images/section3/detecteur.png')}}" alt=""  height="59"></div>
						            <div class="cell centered no-border"><img src="{{asset('bundles/majesteel/images/section3/detecteur.png')}}" alt=""  height="59"><img src="{{asset('bundles/majesteel/images/section3/detecteur.png')}}" alt=""  height="59"></div>
						        </div>
						        <div class="column">
						            <div class="cell middle">Détecteur de fumée<br/><img src="{{asset('bundles/majesteel/images/section3/lalerter.jpg')}}" alt=""  width="102"></div>
						            <div class="cell centered"><img src="{{asset('bundles/majesteel/images/section3/detecteur-fumee.png')}}" alt=""  height="59"></div>
						            <div class="cell centered no-border"><img src="{{asset('bundles/majesteel/images/section3/2-detecteur-fumee.png')}}" alt=""  height="59"></div>
						        </div>
						        <div class="column">
						            <div class="cell middle">Télécommande</div>
						            <div class="cell centered"><img src="{{asset('bundles/majesteel/images/section3/telecommande.png')}}" alt=""  height="59"></div>
						            <div class="cell centered no-border"><img src="{{asset('bundles/majesteel/images/section3/2-telecommande.png')}}" alt=""  height="59"></div>
						        </div>
						        <div class="column">
						            <div class="cell middle last">le détecteur de fumée l'Alerteur est garantie 5 ans. Tous les autres éléments sont garantis 2 ans.</div>
						            <div class="cell centered last last-top"><a href="#" class="buy">Acheter</a></div>
						            <div class="cell centered no-border last last-top"><a href="" class="buy">Acheter</a></div>
						        </div>
						    </div>

						</li>
						
					<li class="pro">
						   
							<div class="container pro">

								<span class="offer on animated">
							    	<span class="containme">
							    		<span class="title part">PACK<br/>Habitation</span>
							    		<span class="push">Voir notre offre</span>
							    		<span class="button"></span>
							    	</span>
							    </span>


								<div class="head clearfix">
									<span class="title"><span>PACK<br/>entreprise</span></span>
									<span class="text">Constituez votre solution de surveillance en fonction des besoins de votre entreprises</span>	
									<div class="clear"></div>

									<div class="pack-container">
										<span class="pack">
											LE PACK <strong>de base</strong>
										</span>
									</div>
									<div class="complete">A compléter par</div>
								</div>

							    <div class="column">
							        <div class="cell centered">
							        	<img src="{{asset('bundles/majesteel/images/section3/phone.png')}}" alt=""  height="59">
							        	<span>Détecteur de mouvements</span>
							        	<span class="small">Compatible animaux -25kg</span>
							        </div>
							        <div class="cell centered">
							        	<img src="{{asset('bundles/majesteel/images/section3/detecteur-ouverture.png')}}" alt=""  height="59">
							        	<span>Détecteur d'ouverture de porte/fenêtre</span>
							        	
							        </div>
							        <div class="cell centered">
							        	<img src="{{asset('bundles/majesteel/images/section3/detecteur-fumee.png')}}" alt=""  height="59">
							        	<span>Détecteur de fumée</span>
							        	<img src="{{asset('bundles/majesteel/images/section3/lalerter.jpg')}}" alt=""  width="102">

							        	
							        </div>
							        <div class="cell centered no-border">
							        	<img src="{{asset('bundles/majesteel/images/section3/detecteur-monoxyde.png')}}" alt=""  height="59">
							        	<span>Détecteur de monoxyde de carbone</span>
							        	<img src="{{asset('bundles/majesteel/images/section3/lalerter.jpg')}}" alt=""  width="102">
							        </div>
							    </div>

							    <div class="column">
							        <div class="cell centered no-border-bottom">
							        	<img src="{{asset('bundles/majesteel/images/section3/detecteur-inondation.png')}}" alt=""  height="59">
							        	<span>Détecteur d'inondation</span>
							        </div>
							        <div class="cell centered no-border-bottom">
							        	<img src="{{asset('bundles/majesteel/images/section3/detecteur-temperature.png')}}" alt=""  height="59">
							        	<span>Détecteur de température</span>
							        </div>
							        <div class="cell centered  no-border-bottom">
							        	<img src="{{asset('bundles/majesteel/images/section3/telecommande.png')}}" alt=""  height="59">
							        	<span>Télécommande</span>
							        </div>
							        <div class="cell centered no-border-bottom no-border">
							        	<img src="{{asset('bundles/majesteel/images/section3/points.png')}}" alt=""  >
							        	<span>Et d'autres à produits à venir</span>
						        	</div>
							    </div>

							    <div class="column">
							        <div class="cell middle last">
							        	<div class="phone-info">Le Phone Alert Surveillance peut gérer jusqu'à 32 détecteurs et télécommandes</div>
							        </div>
							        <div class="cell centered last last-top">&nbsp;</div>
							        <div class="cell centered no-border last last-top">&nbsp;</div>
							        <div class="cell centered no-border last last-top"><a href="" class="buy">Acheter</a></div>
							    </div>

							</div>
							<span class="info">Le détecteur de fumée l'Alerteur est garantie 5 ans.<br/>Tous les autres éléments sont garantis 2 ans.</span>

						  </li>
						
					</ul>		
				</div>
			  
			


			</div>
			<div class="footer">
				<a href="#" class="continue">continuer la visite</a>
			</div>
			<div class="bkg"></div>
		</section>
		<section class="section resize" id="section4">
			
			

			<div class="wrapper clearfix">
				<div class="content">
					
				</div>
				<h1>Installation et utilisation</h1>
				<div class="block-container clearfix">	
					<div class="block">
						<img src="{{asset('bundles/majesteel/images/section4/configure.png')}}" alt="">
						<h2><strong>Configurez</strong> votre système de surveillance</h2>
						<div class="sep"></div>
						<ul>
							<li>Installez et paramétrez vos détecteurs en un clin d'oeil</li>
							<li><a href="#">Créez votre compte Phone Alert en quelques clics</a></li>
							<li>Renseignez les coordonnées sur lesquels vous souhaitez être alerté</li>
						</ul>
						
						<span class="moreinfo" style="margin-bottom:15px;">
							<span class="moreinfo-container up">
								<strong>N'attendez pas la loi pour vous protéger !</strong>
								<p>Obligation légale d'installation de détecteur de fumée dans tous les lieux d'habitation</p>
								<p><strong>avant le 8 mars 2015</strong></p>
							</span>
						</span>
						
						<div class="push">
							<a href="#">Créez votre compte</a>
						</div>
					</div>
					<div class="block">
						<img src="{{asset('bundles/majesteel/images/section4/tablet.png')}}" alt="">
						<h2><strong>Gérez</strong> votre système à distance</h2>
						<div class="sep"></div>
						<ul>
							<li>Téléchargez vos applications Alcatel Phone Alert web et mobiles gratuites</li>
							<li>Pilotez en toute simplicité votre système à distance depuis la maison, le bureau ou lors de vos déplacements</li>
						</ul>
						<div class="push">
							<a href="#"><img src="{{ asset('bundles/majesteel/images/section4/appstore.png') }}" alt="" height="30"></a>
							<a href="#"><img src="{{ asset('bundles/majesteel/images/section4/google-play.png') }}" alt="" height="30"></a>
						</div>


					</div>	
					<div class="block">
						<img src="{{asset('bundles/majesteel/images/section4/folder.png')}}" alt="">
						<h2><strong>Télécharger</strong> les documents du Phone Alert</h2>
						<div class="sep"></div>
						<ul>
							<li>Réponses aux questions les plus fréquents</li>
							<li>Notices d'utilisation</li>
							<li>Guides d'installations</li>
							<li>Fiches produits</li>
							<li>Brochures explicative Consommateur/Distributeur</li>
							<li>Brochure réseau professionnel</li>
						</ul>
						<div class="push">
							<a href="#" class="modal" data-reveal-id="myModal">Téléchargez</a>
							<div class="content hide">
								<div class="why">
									<h2>Téléchargez les documents Phone Alert</h2>
									<ul>
										<li><a href="#">Réponses aux questions les plus fréquentes</a></li>
										<li><a href="#">Notice d'utilisation du téléphone Alactel F370</a></li>
										<li><a href="#">Guide d'installation du Phone Alert</a></li>
										<li><a href="#">Notice d'utilisation de l'Alcatel Box</a></li>
										<li><a href="#">Fiche produit</a></li>
										<li><a href="#">Brochure explicative Consommateur/Distributeur</a></li>
										<li><a href="#">Brochure réseau professionnel</a></li>
									</ul>
									 <a class="close-reveal-modal">&#215;</a>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="push-lightbox">
					<ul>
						<li>
							<a href="#" class="video modal" data-reveal-id="myModal" data-reveal-ajax="http://some-url">Voir la vidéo <strong>d'installation</strong></a>
							<div class="content hidden">
									<div class="download">
											<h2>Phone Alert d'Alcatel, une installation simple et rapide</h2>
											<div>
												<iframe width="853" height="480" src="//www.youtube.com/embed/2krsUWbdLis?list=PL-WmKHI7xjCaofThR_KKszaJdpHfUYsHL" frameborder="0" allowfullscreen></iframe>
											</div>
											 <a class="close-reveal-modal">&#215;</a>	
										</div>
									</div>
							
						</li>
						<li>
							<a href="#" class="light modal" data-reveal-id="myModal" data-reveal-ajax="http://some-url">Pourquoi choisir le <strong>Phone Alert d'Alcatel</strong></a>
							<div class="content hide">
								<div class="download">
									<h2>Pourquoi choisir Phone Alert d'Alcatel</h2>
									<ul>
										<li>Le Phone Alert est certifié CE</li>
										<li>Les détecteurs de fumée et monoxyde de carbone sont <strong>certifiés CE et NF</strong></li>
										<li><strong>Supervision via l'application,</strong> du bon fonctionnement du système et des niveaux de piles</li>
										<li><strong>Réception en temps réel des alertes</strong> via <strong>appels téléphoniques, mails</strong> et/ou <strong>notifications</strong></li>
										<li><strong>Autonomie des piles :</strong>	
											<ul>
												<li><strong>Supérieure à 4 ans</strong> (détecteurs de mouvements, d'ouverture de ports/fenêtres, d'inondation et de température)</li>
												<li><strong>Supérieure à 5 ans</strong> (détecteurs de fumée et de monoxyde de carbone)</li>
											</ul>
										</li>
										<li><strong>Garantie:</strong>
											<ul>
												<li>Pack Phone Alert: <strong>2 ans</strong></li>
												<li>Détecteurs de fumée et de monoxyde de carbone <strong>5 ans</strong></li>
											</ul>
										</li>
										<li>Assistance téléphonique au 08 26 10 21 70, du lundi au samedi de 8h00 à 19h00.<br/>Appel au prix d'une communication locale depuis une ligne fixe, puis 0,15 €TTC/min (France).</li>

									</ul>
									 <a class="close-reveal-modal">&#215;</a>	
								</div>
							</div>
							
						</li>
					</ul>
				</div>

			</div>
			<div class="footer">
				<a href="#" class="continue">continuer la visite</a>
			</div>
		</section>
		<section class="section" id="section5">
			<div class="wrapper">
				<h1>On en parle</h1>
				<div class="icons clearfix">
					<a href="#" class="zip"><strong>Télécharger</strong>les visuels</a>
					<a href="#" class="pdf"><strong>Télécharger</strong>le dossier presse</a>
				</div>
				<div class="scroll-pane">
					<ul>
						<li>
							<div class="head">
								<span class="date">24.02.2014</span>
								<h2>Lorem ipsum dolor sit.</h2>
							</div>
							<div class="content">
								Lorem ipsum dolor sit amet
							</div>
							<a href="#" class="read">Lire la suite</a>
						</li>
						<li>
							<div class="head">
								<span class="date">24.02.2014</span>
								<h2>Lorem ipsum dolor sit.</h2>
							</div>
							<div class="content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nihil, eligendi praesentium neque rem totam incidunt. Voluptas, cum impedit repellendus.
							</div>
							<a href="#" class="read">Lire la suite</a>
						</li>
						<li>
							<div class="head">
								<span class="date">24.02.2014</span>
								<h2>Lorem ipsum dolor sit.</h2>
							</div>
							<div class="content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nihil, eligendi praesentium neque rem totam incidunt. Voluptas, cum impedit repellendus.
							</div>
							<a href="#" class="read">Lire la suite</a>
						</li>
						<li>
							<div class="head">
								<span class="date">24.02.2014</span>
								<h2>Lorem ipsum dolor sit.</h2>
							</div>
							<div class="content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nihil, eligendi praesentium neque rem totam incidunt. Voluptas, cum impedit repellendus.
							</div>
							<a href="#" class="read">Lire la suite</a>
						</li>
						<li>
							<div class="head">
								<span class="date">24.02.2014</span>
								<h2>Lorem ipsum dolor sit.</h2>
							</div>
							<div class="content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nihil, eligendi praesentium neque rem totam incidunt. Voluptas, cum impedit repellendus.
							</div>
							<a href="#" class="read">Lire la suite</a>
						</li>
						<li>
							<div class="head">
								<span class="date">24.02.2014</span>
								<h2>Lorem ipsum dolor sit.</h2>
							</div>
							<div class="content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nihil, eligendi praesentium neque rem totam incidunt. Voluptas, cum impedit repellendus.
							</div>
							<a href="#" class="read">Lire la suite</a>
						</li>
						<li>
							<div class="head">
								<span class="date">24.02.2014</span>
								<h2>Lorem ipsum dolor sit.</h2>
							</div>
							<div class="content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nihil, eligendi praesentium neque rem totam incidunt. Voluptas, cum impedit repellendus.
							</div>
							<a href="#" class="read">Lire la suite</a>
						</li>
						<li>
							<div class="head">
								<span class="date">24.02.2014</span>
								<h2>Lorem ipsum dolor sit.</h2>
							</div>
							<div class="content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nihil, eligendi praesentium neque rem totam incidunt. Voluptas, cum impedit repellendus.
							</div>
							<a href="#" class="read">Lire la suite</a>
						</li>
						<li>
							<div class="head">
								<span class="date">24.02.2014</span>
								<h2>Lorem ipsum dolor sit.</h2>
							</div>
							<div class="content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nihil, eligendi praesentium neque rem totam incidunt. Voluptas, cum impedit repellendus.
							</div>
							<a href="#" class="read">Lire la suite</a>
						</li>
					</ul>
					
				
				</div>
			</div>
		</section>
        {#{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.home_paragraph })) }#}
        
      </div>

</div><!-- /.container -->

<a href="#" class="cloud"></a>
<a href="#" class="facebook"></a>
<a href="#" class="google"></a>


{% endblock %}

