{% block content %}

<section class="section resize section2" id="comment-ca-marche" data-number="2">
	<div class="wrapper">
		<h1>Comment ça marche</h1>



		<div class="center hidden-mobile">

			<div class="containing">
				


				<span class="open">
					<span class="contain">
						<span class="back">
							
						</span>
						<span class="front">
							
						</span>
						<span class="circle-small">
							
						</span>
						<span class="circle-big">

							{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_open })) }}
							
						</span>
					</span>
				</span>

				<span class="move">
					<span class="contain">
						<span class="back">
							
						</span>
						<span class="front">
							
						</span>
						<span class="circle-small">
							
						</span>
						<span class="circle-big">
							{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_move })) }}
							
							
						</span>
					</span>
				</span>

				<span class="smoke">
					<span class="contain">
						<span class="back">
							
						</span>
						<span class="front">
							
						</span>
						<span class="circle-small">
							
						</span>
						<span class="circle-big">
							{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_smoke })) }}
						</span>
					</span>
				</span>

				<span class="box">
					<span class="contain">
						<span class="back">
							
						</span>
						<span class="front">
							
						</span>
						<span class="circle-small">
							
						</span>
						<span class="circle-big">
							{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_box })) }}
						</span>
					</span>
				</span>


				<span class="phone">
					<span class="contain">
						<span class="back">
							
						</span>
						<span class="front">
							
						</span>
						<span class="circle-small">
							
						</span>
						<span class="circle-big">
							{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_phone })) }}
						</span>
						<span class="images">
							
							{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_slideshow })) }}
							
							

						</span>
					</span>
				</span>

			</div>

		</div>
		
		<div class="how-it-works show-mobile">
			<span class="open object">
					<span class="contain">
						<span class="front"></span>
					</span>
			</span>
			{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_open })) }}
		</div>
		<div class="how-it-works show-mobile">
			<span class="move object">
					<span class="contain">
						<span class="front"></span>
					</span>
			</span>
			{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_move })) }}
		</div>
		<div class="how-it-works show-mobile">
			<span class="smoke object">
					<span class="contain">
						<span class="front"></span>
					</span>
			</span>
			{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_smoke })) }}
		</div>
		<div class="how-it-works show-mobile">
			<span class="box object">
					<span class="contain">
						<span class="front"></span>
					</span>
			</span>
			{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_box })) }}
		</div>
		<div class="how-it-works show-mobile">
			<span class="phone object">
					<span class="contain">
						<span class="front"></span>
					</span>
			</span>
			{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.howitworks_phone })) }}
		</div>


	</div>
	<div class="footer">
		<a href="#" class="continue">{% trans %}continuer la visite{% endtrans %}</a>
	</div>
	<div class="upfade"></div>
{# 	<div class="downfade"></div> #}
</section>

{% endblock %}