{% extends 'MajesCmsBundle::layout.html.twig' %}
{% block head %}
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">

        <title>{% block title %}Alcatel Phone Alert{% endblock %} - Système de surveillance connecté</title>
        <meta name="description" content="{{ pageLang.metaDescription }}" />
        <meta name="keywords" content="{{ pageLang.metaKeywords }}" />

        <link rel="shortcut icon" href="images/favicon.png" />

        <!-- Style Sheet-->
        {# <link rel='stylesheet' id='bootstrap-css-css'  href='{{ asset('bundles/majesteel/css/bootstrap.css')}}' type='text/css' media='all' /> #}
        <link rel='stylesheet' id='responsive-css-css'  href='{{ asset('bundles/majesteel/css/animate.css')}}' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ asset('bundles/majesteel/css/reveal.css')}}' type='text/css' media='all' />
       {#  <link rel='stylesheet' href='{{ asset('bundles/majesteel/css/slicknav.css')}}' type='text/css' media='all' /> #}
        <link rel='stylesheet' id='main-css'  href='{{ asset('bundles/majesteel/css/custom.css')}}' type='text/css' media='all' />
        <link rel='stylesheet' id='responsive-css-css'  href='{{ asset('bundles/majesteel/css/custom-responsive.css')}}' type='text/css' media='all' />
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if IE 9]>
            <link rel='stylesheet' id='responsive-css-ie9'  href='{{ asset('bundles/majesteel/css/ie9.css')}}' type='text/css' media='all' />
        <![endif]-->

        <!--[if lte IE 8]>
            <link rel='stylesheet' id='responsive-css-ie8'  href='{{ asset('bundles/majesteel/css/ie8.css')}}' type='text/css' media='all' />
        <![endif]-->
        
        
      
         
        {% block teel_css %}{{parent()}}{% endblock %}

       <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>-->

        <script type='text/javascript' src='{{ asset('bundles/majesteel/plugins/jquery/jquery.js')}}'></script>
        <script type='text/javascript' src='{{ asset('bundles/majesteel/plugins/jquery/jquery-migrate.js')}}'></script>
        <script type='text/javascript' src='{{ asset('bundles/majesteel/plugins/jquery/jquery-ui.js')}}'></script>
        
        <script type='text/javascript' src='{{ asset('bundles/majesteel/js/bootstrap.min.js')}}'></script>
        <!-- <script type='text/javascript' src='{{ asset('bundles/majesteel/plugins/jquery-waypoints-master/waypoints.min.js')}}'></script> -->
        <script type='text/javascript' src='{{ asset('bundles/majesteel/plugins/jquery.reveal.js')}}'></script>
        <!-- <script type='text/javascript' src='{{ asset('bundles/majesteel/plugins/slicknav.js')}}'></script> -->
        <script type='text/javascript' src='{{ asset('bundles/majesteel/plugins/jquery.scrollto.js')}}'></script>
        <script type='text/javascript' src='{{ asset('bundles/majesteel/js/modernizr.js')}}'></script>
        <script type='text/javascript' src='{{ asset('bundles/majesteel/plugins/jquery.scrollsection.js')}}'></script>
        <script type='text/javascript' src='{{ asset('bundles/majesteel/js/app.js')}}'></script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/majesteel/js/html5.js')}}"></script>
        <![endif]-->

        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script> -->
    <style>
    .majesTeel .modal{display:none;}</style>
</head>


{% endblock %}

{% block teel_gatracking %}{{parent()}}{% endblock %}

{% block teel_header %}
    {{parent()}}
    {% block main_menu %}{% endblock %}
    {% include ['MajesTeelBundle:parts:menu.html.twig'] %}
{% endblock %}

{% block content %}
    <!--
<div class="{# smartphone #} responsive">Smartphone 320 480</div>
<div class="ipad responsive">IPAD 768 1024</div>
<div class="desktop responsive">Default Desktop >1224</div>
<div class="large responsive">Large >1824</div>
<div class="browser ie9">IE9</div>
<div class="browser ie8">IE8</div>
-->
    <!-- script -->
    {% block teel_js %}{{parent()}}{% endblock %}
{% endblock %}

{% block teel_footer %}{% endblock %}
