{% for id, item in block.items %}
{{wysiwygTagBegin(block, item, lang)|raw}}
<div class="column">
    <div class="cell middle">{{item.attributes.title.value.value|raw}}</div>
    <div class="cell centered">{{ teelMediaLoad(item.attributes.picture1.value.media_id, null, 59, false, null)|raw }}</div>
    <div class="cell centered no-border">{{ teelMediaLoad(item.attributes.picture2.value.media_id, null, 59, false, null)|raw }}</div>

</div>
{{wysiwygTagEnd()|raw}}
{% endfor %}