<div class="scroll-pane">
	<ul>
		{% for id, item in block.items %}
		{{wysiwygTagBegin(block, item, lang)|raw}}
		<li>
			<div class="head">
				<span class="date">{{item.attributes.date.value.value|raw}}</span>
				<h2>{{item.attributes.title.value.value|raw}}</h2>
			</div>
			<div class="content">
				{% if item.attributes.picture.value %}
					{{	 teelMediaLoad(item.attributes.picture.value.media_id, null, 150, true, false, null)|raw }}
				{% endif %}
				{% if item.attributes.content.value %}
					{{item.attributes.content.value.value|raw}}
				{% endif %}
			</div>
			<a href="{{item.attributes.link.value.value|raw}}" target="_blank" class="read">{% trans %}Lire la suite{% endtrans %}</a>
		</li>
		{{wysiwygTagEnd()|raw}}
		{% endfor %}
	</ul>
	

</div>